# Compiled class file，排除.class文件
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files # 排除.jar、.zip等文件
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# only ignore the TODO file in the current directory, not subdir/TODO
/TODO

# ignore all files in any directory named build
build/